*{
    margin: 0;
    padding: 0;
}
.nologin{
    font-size: .3rem;
    color: rgb(102, 102, 102);;
    padding: 0 .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    background-color: rgb(242, 242, 242);
}
.nologin img {
    width: 0.6rem;
    height: 0.6rem;
}
.container{
    line-height: 1.04rem;
    height: 1.04rem;
    font-size: .32rem;
    /* display: flex;
    align-items: center; */
}
.container i {
    float: left;
}
.container span{
    float: right;
    font-size: .24rem;
    color: rgba(0,0,0,.54);
}
.noitems{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    background-color: #ebebeb;
}
.noitems span img{
    width: 0.8rem;
    margin-right: 0.1rem;
}
.noitems span {
    font-size: 0.24rem;
}
.noitems p{
    line-height: 0.5rem;
    height: 0.5rem;
    text-align: center;
    width: 1rem;
    margin-bottom: 0;
    margin-left: 0.1rem;
    border: 1px solid rgba(0,0,0,.15);
}
.recommend-box{
    height: 1.4rem;
}
.recommend-box img {
    width: 100%;
}
.cp {
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
}
.cp::after{
    display: block;
    content: "";
    height: 2rem;
    
}
.cp ul::after{
    content: "";
    display: block;
    clear: both;
}
.cp li {
    list-style: none;
    margin: 0.1rem 0.1rem;
    float: left;
    width: 47%;
    /* border: 1px solid blue; */

}
.cp li img {
    width: 100%;

}
.cp li p {
    margin: 0;
    padding: 0;
    font-size: 0.3rem;
    line-height: .0.35rem;
}
.cp ul li p:nth-child(3){
    font-size: 0.3rem;
    color: #ff6700;
    
}
nav {
    box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);
}
